<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Navbar</title>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-messaging.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyD8Lnr7oH-QY97adMdhLUtKBOSQONGkMr0",
            authDomain: "cosplarity.firebaseapp.com",
            databaseURL: "https://cosplarity.firebaseio.com",
            storageBucket: "cosplarity.appspot.com",
            messagingSenderId: "159653646318"
        };
        firebase.initializeApp(config);
    </script>
    <!-- /Firebase -->

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Custom stylesheets -->
    <link href="layout.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- /Custom stylesheets -->
    <!-- Custom JS Files -->
    <script type="text/javascript" src="/../app.js"></script>
    <reference path="jquery/jquery.d.ts" />
    <!-- /Custom JS Files -->

    <script src="scripts/angular.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Cosplarity</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-items">
                <ul class="nav navbar-nav">
                    <li class="active"><a id="browse-link" href="#">Browse</a></li>
                    <li><a id="works-link" href="#">How it works</a></li>
                    <li><a id="about-link" href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-container" style="margin-top: 60px;">
        <div class="page-content">
            <div id="main-content"></div>
            <div id="secondary-content"></div>
        </div>
    </div>
</body>
</html>